<%# THIS IS MAIN.HTML %>
<div id="business_information">
  <%= section :telephone %>
  <%= section :address %>
  <%= section :hours %>
  <%= section :email %>
  <%= section :owner_names %>
  <%= section :logos %><%# Social media AND credit cards %>
  <%= section :map %>
</div>
<%= section :specials %>
<%= section :offers %>
<%= section :menu %>
<%= section :products %>
<%= section :services %>
<%= section :testimonials %>
<%= section :owner_photos %>
<%= section :about %>
<%= section :gallery %> <%# Photos include inside/ouside/food/etc. %>